{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>{{ post.title }}</h1>
    <p class="text-muted">Автор: {{ post.author }}, Дата: {{ post.date.strftime('%d.%m.%Y') }}</p>
    <img src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Изображение поста" class="img-fluid mb-3">
    <p>{{ post.text }}</p>

    <div class="m-4">
    <form>
        <h2>Оставьте комментарий</h2>
            <div class="mb-3">
                <textarea class="form-control" id="commentText" rows="3" placeholder="Текст комментария..."></textarea>
            </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<div class="m-4">
    <h2>Комментарии</h2>
    {% for comment in post.comments %}
    <div class="d-flex mt-3">
        <div class="flex-shrink-0">
            <img src="{{ url_for('static', filename='images/avatar.jpg') }}" style="max-width: 50px;" class="img-thumbnail" alt="Sample Image">
        </div>
            <div class="flex-grow-1 ms-3">
                <h5>{{ comment.author }}</h5>
                {{ comment.text }}

                {% for reply in comment.replies %}
                <div class="d-flex mt-4">
                    <div class="flex-shrink-0">
                        <img src="{{ url_for('static', filename='images/avatar.jpg') }}" style="max-width: 50px;" class="img-thumbnail" alt="Sample Image">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mt-0">{{ reply.author }}</h5>
                        {{ reply.text }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}